.App {
  background-color: rgb(36, 40, 46);
  position: absolute;
  top: 1mm;
  left: -0.01mm;
  min-height: 100vh;
}
.rectangle {
  left: -0mm;
  top: -7.5mm;
  position: relative;
  padding: 68px 960px;
  background: rgb(72, 125, 204);
}

.primary {
  top: -50mm;
  left: 1%;
  display: inline-flex;
  position: relative;
  color: rgb(220, 231, 233);
  font-size: 24px;
}

.frame {
  top: -20mm;
  left: 3mm;
  position: relative;
  width: 1860px;
  height: 700px;
  background-color: transparent;
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}

.button1 {
  top: -35mm;
  left: -75mm;
  display: inline-flex;
  justify-content: flex-end;
  position: relative;
  padding: 10px 24px;
  text-align: center;
  font-size: 16px;
  background-color: rgb(54, 154, 241);
  border: 2px solid #51b4f7;
  color: rgb(220, 227, 228);
  border-radius: 8px;
}

.button2 {
  top: -35mm;
  left: -70mm;
  display: inline-flex;
  justify-content: flex-end;
  position: relative;
  padding: 10px 24px;
  text-align: center;
  font-size: 16px;
  background-color: rgb(54, 154, 241);
  border: 2px solid #51b4f7;
  color: rgb(220, 227, 228);
  border-radius: 8px;
}

.button3 {
  top: -35mm;
  left: -65mm;
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  padding: 10px 24px;
  text-align: center;
  font-size: 16px;
  background-color: rgb(54, 154, 241);
  border: 2px solid #51b4f7;
  color: rgb(220, 227, 228);
  border-radius: 8px;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(220, 231, 233, 0.404);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  height: 300px;
  width: 100%;
  max-width: 640px;
  background-color: rgb(220, 231, 233);
}

.popup-inner .close-btn {
  background-color: rgba(255, 0, 0, 0.267);
  position: absolute;
  top: 16px;
  right: 16px;
}
.submit-btn {
  top: 128px;
  right: 220px;
  min-height: 25%;
  min-width: 25%;
  border: 2px solid #51b4f7;
  color: rgb(220, 227, 228);
  border-radius: 8px;
  position: absolute;
  background-color: rgb(85, 138, 148);
}

.popup_text1 {
  position: absolute;
  top: -12px;
  left: 12px;
  color: rgb(85, 138, 148);
}

.popup_text2 {
  font-size: medium;
  color: rgb(85, 138, 148);
}
.popup_text3 {
  font-size: medium;
  color: rgb(85, 138, 148);
}

.show-btn{
  top: 10px;
  right: 260px;
  min-height: 15%;
  min-width: 25%;
  border: 2px solid #51b4f7;
  color: rgb(220, 227, 228);
  border-radius: 8px;
  position: absolute;
  background-color: rgb(85, 138, 148);
}